[package]
name = "controller"
version = "0.0.0-nightly"
edition = "2021"

[dependencies]
# Common
common = { path = "../common" }

# Logging
simplelog = { version = "0.12.2", features = ["paris"] }

# Error handling
anyhow = "1.0.95"

# Getters and setters
getset = "0.1.4"

# Signal handling
ctrlc = "3.4.5"

# Unit system
uuid = { version = "1.12.1", features = ["v4"] }

# Command line arguments
clap = { version = "4.5.27", features = ["derive"] }

# Regex parsing
regex = "1.11.1"

# Configuration
serde = { version = "1.0.217", features = ["derive"] }
toml = "0.8.19"

# Async runtime
tokio = { version = "1.43.0", features = ["rt", "rt-multi-thread", "macros"] }

# API
url = { version = "2.5.4", features = ["serde"] }
prost = "0.13.4"
tonic = "0.12.3"

# Drivers
wasmtime = { version = "29.0.1", default-features = false, features = ["runtime", "component-model", "cranelift", "parallel-compilation", "cache"], optional = true }
wasmtime-wasi = { version = "29.0.1", optional = true }
minreq = { version = "2.13.2", features = ["https-rustls"], optional = true }

[build-dependencies]
toml = "0.8.19"
tonic-build = "0.12.3"

[features]
wasm-plugins = ["dep:wasmtime", "dep:wasmtime-wasi", "dep:minreq"]